.carouselContainer {
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.slide {
    transform: translateX(50%);
    transition: all 1s ease;
    opacity: 0;
}

.current {
    opacity: 1;
    transform: translateX(0);
}

.slideContents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: auto;
}


.componentImage {
    width: 150%;
    z-index: 1;
    position: absolute;
}


.componentInfo {
    z-index: 2;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.75);
    color: beige;
    padding: 2vw;
    animation: slideUp 1s ease .5s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes slideUp {
    0% {
        visibility: visible;
        opacity: 0;
    }
    10% {
        visibility: visible;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.componentTitle {
    font-size: 4vw;
    text-align: center;
}

.componentDescription {
    height: 100px;
    overflow: hidden;
}


@media screen and (max-width: 600px) {
    /* add info */
}
