.cardContainer {
    width: 25%;
    max-width: 250px;
    /* height: 25vw; */
    margin: 2vw;
    padding: 1vw;
}

.cardContent {
    text-decoration: none;
    color: rgb(42, 11, 43);
}

.projectInfo {
    margin: 0px -35px -50px -35px;
    padding: 0px 20px 25px 20px;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.projectTitle {
    text-align: center;
    height: 40px;
}

.projectCategory, .projectGoal {
    text-align: center;
}

.progressBar{
    width: 100%;
    height: .5rem;
    background-color: white;
    margin: 0;
    /* margin-left: -20px; */
}

.progressStatus{
    height: .5rem;
    background-color: rgb(87, 128, 17);
    transition: all 2s;
    max-width: 100%;
}
