.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* ---------------- project page ----------------- */

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    width: 100%;
}

.pageInfo {
    display: flex;
}

.pageInfoStuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 1vw 2vw;
    color: beige;
}

.pageTitle {
    margin: 0px;
    text-align: center;
    color: beige;
    font-size: 5vw;
}

.pageUser {
    margin: 5px;
    color: beige;
    font-size: 3vw;
}

.pageImageContainer {
    width: 60%;
    margin: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(67, 102, 6, 0.35);
    padding: 1vw;
    border-radius: 5px;
}

.pageImage {
    width: 100%;
}

.pageDescription {
    background-color: rgb(67, 102, 6);
    box-shadow:  1px 1px 1px 1px rgba(0,0,0,0.25), -1px -1px 1px 1px rgba(255, 255, 255, 0.25);
    color: beige;
    padding: 15px;
    width: 100%;
    height: 100%;
    margin: 3vw 5vw;
    text-align: center;
    border-radius: 5px 0px 5px 0px;
    font-size: 2vw;
}


.progressBar {
    background-color: beige;
    width: 80%;
    height: 20px;
    margin: 2vw;
    text-align: center;
}

.progressFilled {
    min-width: 200px;
    background-color: green;
}

.pageBottom {
    width: 75%;
    background-color: rgb(90, 36, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: beige;
}

.fundingContainer {
    display: flex;
    justify-content: space-around;
}

.pageRaised, .pageGoal, .pagePercent {
    margin: 2vw 2vw;
}

.userActionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
