.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categoryTitle {
    margin: auto;
    margin-top: -5vw;
    width: fit-content;
    color: rgb(42, 11, 43);
    margin-bottom: 2vw;
    font-size: 5vw;
}
