.splashContainer {
    margin: -20px -10px;
}

.splashPartOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2vw;
    margin-top: 3vh;
    height: 50vw;
}

.splashOneLeft {
    width: 30vw;
    /* text-align: center; */
    background-color: rgb(87, 128, 17);
    color: beige;
    padding: 10vw 10vw 25vw 10vw;
}

.splashOneTextLeft {
    position: absolute;
    width: 30vw;
    left: 20px;
}

.splashOneRight {
    width: 30vw;
    text-align: center;
    background-color: beige;
    color: rgb(87, 128, 17);
    padding: 10vw 10vw 25vw 10vw;
}

.splashOneTextRight {
    text-align: right;
    position: absolute;
    width: 30vw;
    right: 20px;
}

.splashPartTwo {
    display: flex;
    position: absolute;
    width: 50vw;
    height: 50vw;
    top: 100px;
    left: 25vw;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.25);
}

.splashPartThree {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    background-color: rgb(67, 102, 6);
    padding: 25vw 10vw 10vw 10vw;
}

.infoBit {
    width: 25%;
    background-color: beige;
    text-align: center;
    padding: 2vw;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25), -1px -1px 1px 1px rgba(255, 255, 255, 0.25);
    color: rgb(90, 36, 92);
    border-radius: 5px 0px 5px 0px;
    font-weight: 600;
}

.splashPartFour {
    background-color: rgb(90, 36, 92);
    padding: 10px;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splashPartFive {
    display: flex;
    flex-direction: row;
    font-size: 3vw;
}

.splashFiveLeft {
    background-color: rgb(67, 102, 6);
    color: beige;
    text-align: center;
    width: 70%;
    padding: 10vw 5vw;
}

.splashFiveRight {
    background-color: rgb(87, 128, 17);
    color: beige;
    width: 30%;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splashPartSix {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5vw 0vw;
    padding-top: 50px;
    background-color: beige;
}

.splashSixCategories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 1vw;
}

.splashCategoriesHeader {
    font-size: 5vw;
    padding: 10vw 21vw 5vw;
    text-align: center;
}

.categoryBitSplash {
    width: 8vw;
    height: 8vw;
    padding: 1vw;
    margin: 1vw;
    background-color: beige;
    border-radius: 50%;
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25), -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.categoryBitSplash:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.25), -1px -1px 2px 2px rgba(255, 255, 255, 0.5);
}

.categoryImgSplash {
    width: 8vw;
    height: 8vw;
}


@media screen and (min-width: 1200px) {
    .splashPartTwo {
        margin-top: 100px;
    }
}
